[submodule "FlaskPywebviewExampleApi"]
	path = FlaskPywebviewExampleApi
	url = git@github.com:rinkaaan/FlaskPywebviewExampleApi.git
[submodule "FlaskPywebviewExampleReactApp"]
	path = FlaskPywebviewExampleReactApp
	url = git@github.com:rinkaaan/FlaskPywebviewExampleReactApp.git
[submodule "PythonUtils"]
	path = PythonUtils
	url = git@github.com:rinkaaan/PythonUtils.git
